<!DOCTYPE html>
<html lang="es" dir="ltr">
<head>
<meta charset="utf-8">
<title> Hackathon Movistar </title>
<style>

    .form_top{
        background-color: black;
        padding-top: 0.5cm;
        padding-bottom: 0.5cm;
    }

    .button1{
        background-color: black; 
        border: 1px solid white;
        color: white;
        padding: 15px 32px;
        margin-right: 0.8cm;
        margin-left: 0.5cm;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        cursor: pointer;
    }

</style>
</head>
<body>
    <form action="/button" method="post" name="boton" class="form_top">
    <input type="submit" value="Home" name="button1" class="button1">
    <input type="submit" value="Ingresar Codigos" name="button1" class="button1">
    </form>
    <form action="/codes" method="post" name="boton">
        
    </form>
</body>

</html>

<script>



    

</script>